.contact {
  @include media-query(0, 767px) {
    display: flex;
    flex-direction: column;
  }
  padding-bottom: 16px;
  @include mq('tablet'){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "heading heading""map .";
    padding: 16px;
  }
  &__heading {
    margin: 0 0 16px 0;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: bold;
    padding-left: 12px;
    grid-area: heading;
  }
}

.map {
  max-width: 100%;
  position: relative;
  order: -1;
  display: flex;
  grid-area: map;
  @include media-query(0, 767px) {
    flex-direction: column-reverse;
  }

  &__img {
    width: 100%;
    height: auto;
    align-self: start;
  }

  &__link {
    position: absolute;
    right: 20px;
    bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    border-radius: 4px;
    text-align: center;
    padding: 8px 16px;
    background-color: #fff;
    border: solid #000 2px;
    color: #000;
    text-decoration: none;
  }
}

.business-card {
  padding: 16px;
  display: flex;
  flex-direction: column;

  @include mq('tablet-small'){
    width: 260px;
    position: absolute;
    background-color: #fff;
    left: 20px;
    top: 20px;
    padding: 16px;
    border-left: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.2);
  }

  &__header {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
  }

  &__logo {
    max-height: 38px;
    max-width: 100px;
    align-self: start;
  }

  &__address {
    display: flex;
    flex-direction: column;
    line-height: 24px;
  }

  &__wrapper {
    display: block;
    margin-top: 8px;
  }

  &__link {
    text-decoration: none;
  }
}