.c-global {
  width: 100%;
  &__heading {
    @include sr-only();
  }

  &__trigram {
    @include mq('mobile') {
      margin-left: 8px;
      width: 20px;
      height: 2px;
      background-color: #333;
      transition: background-color .1s;
      position: relative;
    }
    @include mq('burger') {
      display: none;
    }
  }

  &__trigram:before {
    @include mq('mobile') {
      top: -6px;
      transition: .2s ease-in-out;
      position: absolute;
      background: #333;
      content: "";
      width: 20px;
      height: 2px;
      left: 0;
    }
  }

  &__trigram:after {
    @include mq('mobile') {
      top: 6px;
      transition: .2s ease-in-out;
      position: absolute;
      background: #333;
      content: "";
      width: 20px;
      height: 2px;
      left: 0;
    }
  }

  &__label {
    @include mq('mobile') {
      position: absolute;
      top: 11.5px;
      right: 16px;
      display: flex;
      align-items: center;
      transition: .2s ease;
      border: 0;
      background-color: transparent;
      outline: 0;
      padding: 8px 0;
      margin-top: 1px;
      max-height: 36px;
      font-size: 1rem;
      cursor: pointer;
    }
    @include mq('burger') {
      display: none;
    }
  }

  &__list {
    display: flex;
    @include mq('mobile') {
      flex-direction: column;
      transition: max-height .5s ease-in-out;
      max-height: 0;
      overflow: hidden;
    }
    @include mq('burger') {
      flex-direction: row;
    }
  }

  &__input:checked ~ &__list {
    @include mq('mobile') {
      max-height: 100vh;
    }
  }

  &__input:not(:checked) ~ &__list {
    @include mq('burger') {
      max-height: 100vh;
    }
  }

  &__item {
    @include mq('mobile') {
      padding: 8px 10px;
    }
    @include mq('burger') {
      padding: 16px 12px;
    }

    &:before {
      @include mq('mobile') {
        margin: 0 0 8px;
        height: 1px;
        line-height: 1px;
        width: 100%;
        font-size: 0;
        display: block;
        content: " ";
        border-top: 1px solid #dcdcdc;
      }
      @include mq('burger') {
        display: none;
      }
    }
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-between;
    @include mq('mobile') {
      padding: 8px 0;
    }
    @include mq('burger') {
      padding: 8px 18px 8px 10px;
    }
    transition: color .3s ease-in-out;
    &:hover {
      color: $link-hover;
    }
  }

  &__dropdown {
    &:after {
      content: "";
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cstyle%3E%3C/style%3E%3Cpath d='M12 18c-.3 0-.5-.1-.7-.3l-8-8c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l7.3 7.3 7.3-7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-8 8c-.2.2-.4.3-.7.3z' fill='%23333'/%3E%3C/svg%3E") no-repeat 50%;
      color: #1a72e8;
      display: inline-block;
      width: 12px;
      height: 12px;
      @include mq('mobile') {
        position: relative;
        //right: 0;
        margin-left: auto;
      }
      @include mq('burger') {
        margin-left: 6px;
      }
    }

    &:hover {
      color: #1a72e8;

      &:after {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cstyle%3E%3C/style%3E%3Cpath d='M12 18c-.3 0-.5-.1-.7-.3l-8-8c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l7.3 7.3 7.3-7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-8 8c-.2.2-.4.3-.7.3z' fill='%231a72e8'/%3E%3C/svg%3E");
      }
    }
  }
}

.u-hidden {
  display: none;
}
