.c-header {
  background: #fff;
  width: 100%;
  // Flex
  display: flex;

  // header if mobile width
  @include mq('mobile') {
    flex-direction: column;
    padding: 10px 16px;
  }
  // header if no burger menu
  @include mq('burger') {
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 16px;
  }

  &__heading {
    background: url("../img/logo.svg") no-repeat 0 0;
    text-indent: -9999px;
    @include mq('mobile') {
      width: 160px;
      height: 35px;
      background-size: contain;
    }
    @include mq('burger') {
      padding: 16px;
      height: 64px;
      width: 148px;
      background-position: center;
      margin-right: 16px;
    }
  }

}

.u-header {
  &__division {
    @include mq('mobile') {
      display: flex;
      justify-content: space-between;
    }
  }
}