.c-header {
  background: #fff;
  width: 100%;

  // header if mobile width
  @include mq('mobile') {
    padding: 10px 16px;
    // Flex
    display: flex;
    flex-direction: column;
  }

  &__heading {
    background: url("../img/logo.svg") no-repeat 0 0;
    text-indent: -9999px;
    background-size: cover;
    @include mq('mobile') {
      width: 160px;
      height: 35px;
    }
  }

}
.u-header{
  &__division{
    @include mq('mobile'){
      display: flex;
      justify-content: space-between;
    }
  }
}