.c-dropdown {
  @include mq('burger'){
    margin-left: auto;
  }
  &__content {
    @include mq('mobile') {
      transition: max-height .5s ease-in;
      max-height: 0;
      overflow: hidden;
    }
  }

  &__label {
    cursor: pointer;
  }

  &__input:checked ~ &__content {
    @include mq('mobile') {
      max-height: none;
    }
    @include mq('burger') {
      position: absolute;
      top: 4em;
      background: white;
    }
    & a:hover {
      color: $blumine;
    }
  }

  &__link {
    display: block;
    padding: 8px 20px;
  }
}