// var names are from http://chir.ag/projects/name-that-color/

$flush-orange: #FF7500; // button bgc
$tenn: #cb5f00; // hover of button bgc
$tusk: #e6f5cf; // list background in header
$mine-shaft: #333; // text color
$silver-chalice: #acacac; // text color
$wild-sand: #f4f4f4; // page background
$chambray: #3D648C; // Menu top border color
$blumine: #1e4c7a; // hover link color
$lochmara: #007cca; // link color